body {
    background-image: linear-gradient(to right, #00b4db, #0083b0);
    font-family: 'Varela Round', sans-serif;
}
.register-box{
    width: 360px;
    margin: 50px auto;
    border-radius: 10px;
    background: rgb(255,255,255,0.8);
    padding: 40px;
    box-shadow: 0px 0px 10px 0px #000;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form h1{
    font-size: 30px;
    margin-bottom: 20px;
    color: #333;
}

.field-box{
    width: 100%;
    display: inline-block;
    margin-bottom: 10px;
}

.field-box label{
    width: 30%;
    height: 30px;
    margin: auto;
    text-align: left;
    float: left;
    color: #333;
    font-weight: bold;
    font-size: 16px;
}

.field-box .field{
    width: 65%;
    float: right;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.field-box select {
    width: calc(65% + 6px);
    float: right;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.register-button{
    width: 40%;
    margin-top: 20px;
    height: 30px;
    border-radius: 20px;
    border: none;
    background-image: linear-gradient(to right, #00b4db, #0083b0);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.register-button:hover{
    background-image: linear-gradient(to left, #00b4db, #0083b0);
}